.login-container {
  background-color: white;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 20%;
  border-radius: 10px;
  padding-bottom: 10px;
}

.passwordLabel {
  margin-right: 2px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.loginBtn {
  align-items: center;
  background: #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1a202c;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 25px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  border-color: #e2e8f0;
}
