.menuItemCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 250px;
  max-height: 150px;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  font-size: calc(0.5vw + 0.5vh);
}

.menuItemCard:hover {
  transform: scale(1.05);
}
